.logo {
    position: absolute;
    width: 169px;
    height: 52px;
    left: 335px;
    top: 15px;

}

.main {
    position: absolute;
    width: 90px;
    height: 28px;
    left: 781px;
    top: 28px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #003399;
}

.about {
    position: absolute;
width: 68px;
height: 28px;
left: 901px;
top: 28px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #003399;

}

.refs {
    position: absolute;
width: 106px;
height: 28px;
left: 999px;
top: 28px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #003399;

}