.garage {
    position:absolute;
    right: 180px;
    top: 30px;
    max-width: 100px;
    cursor: pointer;
}
.garage:active {
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 10px gray;
    position:absolute;
    right: 180px;
    top: 30px;
    max-width: 100px;
    cursor: pointer;
}
