.navbar {
    position:absolute;
    top: 50px;
    left: 30px;
}
.head {
    margin-left: 40px;
    font-size: 30px;
}

.string1 {
    margin-top: 50px;
    font-size: 26px;
}
.string2 {
    font-size: 26px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.string3 {
    font-size: 26px;

}