.number {
    position: absolute;
    width: 452px;
    height: 339px;
    left: 493px;
    top: 112px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 288px;
    line-height: 339px;
    /* identical to box height */

    text-align: center;

    color: #F27C0F;
}

.firstButton {
    position: absolute;
    width: 200px;
    height: 58px;
    left: 365px;
    top: 481px;

    background: #003399;
    border-radius: 4px;
}

.secondButton {
    position: absolute;
    width: 200px;
    height: 58px;
    left: 620px;
    top: 481px;

    background: #F27C0F;
    border-radius: 4px;
}

.thirdButton {
    position: absolute;
    width: 200px;
    height: 58px;
    left: 875px;
    top: 481px;

    background: #E5E5E5;
    border-radius: 4px;
}

.firstButtontxt {
    position: absolute;
    width: 115px;
    height: 28px;
    left: 407px;
    top: 496px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.secondButtontxt {
    position: absolute;
    width: 123px;
    height: 28px;
    left: 658px;
    top: 496px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.thirdButtontxt {
    position: absolute;
    width: 110px;
    height: 28px;
    left: 919px;
    top: 496px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;

}