.logo {
    position: absolute;
    width: 98px;
    height: 30px;
    left: 336px;
    top: 660px;

}
.partners {
    position: absolute;
width: 87px;
height: 19px;
left: 464px;
top: 660px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;

color: rgba(0, 0, 0, 0.5);
}
.devs {
    position: absolute;
    width: 118px;
    height: 19px;
    left: 581px;
    top: 660px;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.5);
    
}
.vacansy {
    position: absolute;
width: 74px;
height: 19px;
left: 729px;
top: 660px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: rgba(0, 0, 0, 0.5);
}
.oooint {
    position: absolute;
width: 169px;
height: 19px;
left: 936px;
top: 660px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: rgba(0, 0, 0, 0.5);


}